.tabs-block {
    width: 100%;
    padding: .7rem .5rem 1rem .7rem;
    border: 1px solid #222528;
    margin: 3rem 0 3rem 0;
    background: rgb(29, 29, 29);
    .tab {
        border: 1px solid #222528;
        padding: 2rem;
        margin: 0 .3rem 0 .3rem;
        .title {
            width: 100%;
            font-weight: 700;
            font-size: 1.5rem;
            margin: 0 0 .5rem 0;
        }
        .description {
            font-size: .9rem;
            margin: .5rem 0 .5rem 0;
            line-height: 1.1rem;
        }
    }
}